td{
    border-style: outset;
}
.DarkGreen {
    background-color: darkgreen; 
    color: white;
}
.lightGreen {
    background-color: lightgreen; 
    color: white;
}

.yellow {
    background-color: rgb(219, 219, 38); 
    color: white
}

.orange{
    background-color: orange; 
    color: white;
}

.red{
    background-color: red; 
    color: white;
}